<!-- Footer-->
<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-8 col-12-medium">

                <!-- Links -->
                    <section>
                        <h2>Hubungi Kami</h2>
                        <div>
                            <div class="row">
                                <div class="">
                                    <ul class="link-list last-child">
                                        <li><a href="#">Instagram : @mb_thegreatmdp</a></li>
                                        <li><a href="#">Email : mb.thegreat@mhs.mdp.ac.id</a></li>
                                        <li><a href="#">Business Contact : +6281373217711 (Adi Wijaya)</a></li>
                                        <li><a href="#">Palembang, Sumatera Selatan</a></li>
                                    </ul>
                                </div>
                                <!-- <div class="col-3 col-12-small">
                                    <ul class="link-list last-child">
                                        <li><a href="#">Neque amet dapibus</a></li>
                                        <li><a href="#">Sed mattis quis rutrum</a></li>
                                        <li><a href="#">Accumsan suspendisse</a></li>
                                        <li><a href="#">Eu varius vitae magna</a></li>
                                    </ul>
                                </div>
                                <div class="col-3 col-12-small">
                                    <ul class="link-list last-child">
                                        <li><a href="#">Neque amet dapibus</a></li>
                                        <li><a href="#">Sed mattis quis rutrum</a></li>
                                        <li><a href="#">Accumsan suspendisse</a></li>
                                        <li><a href="#">Eu varius vitae magna</a></li>
                                    </ul>
                                </div>
                                <div class="col-3 col-12-small">
                                    <ul class="link-list last-child">
                                        <li><a href="#">Neque amet dapibus</a></li>
                                        <li><a href="#">Sed mattis quis rutrum</a></li>
                                        <li><a href="#">Accumsan suspendisse</a></li>
                                        <li><a href="#">Eu varius vitae magna</a></li>
                                    </ul>
                                </div> -->
                            </div>
                        </div>
                    </section>

            </div>
            <div class="col-4 col-12-medium imp-medium">

                <!-- Blurb -->
                    <section>
                        <h2>Tentang Kami</h2>
                        <p>
                            The Great Marching Band Universitas Multi Data Palembang adalah unit kegiatan mahasiswa berbasis seni musik yang berdiri pada tahun 2007. Kami berkomitmen mengembangkan bakat dan kreativitas mahasiswa dalam bidang musik dan seni pertunjukan marching band melalui berbagai prestasi di tingkat regional maupun nasional.
                        </p>
                    </section>

            </div>
        </div>
    </div>
</section>

