<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Mama Kost - Kost Putri Nyaman di Palembang" />
    <meta name="author" content="Your Name" />
    <title><%= title %></title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
    <!-- Responsive navbar-->
    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <!-- Logo -->
                     
                        <h1>
                            <!-- <img class="logo-tg" src="images/logo-tg.png" alt=""> -->
                            <a href="index.html" id="logo">The Great MB UMDP</a>
                        </h1>

                    <!-- Nav -->
                        <nav id="nav">
                            <a href="/">Beranda</a> 
                            <a href="/about-us">Tentang Kami</a>
                            <a href="/staff">Kepengurusan Staff</a>
                            <a href="/dokumentasi">Dokumentasi</a>
                            <a href="/contact">Kontak Kami</a>
                        </nav>

                </div>
            </div>
        </div>
    </section>
