<section>
    <header>
        <h2>OPEN RECRUIMENT!</h2>
    </header>
    <ul class="link-list">
        <li><a href=""><img class="iklan-oprec" src="images/banner-oprec.jpg" alt=""></a></li>
        <li><a href="#">BERGABUNG DISINI!</a></li>
    </ul>
</section>