<nav>
    <ul>
        <li><a href="/">Beranda</a></li>
        <li><a href="/fasilitas">Fasilitas</a></li>
        <li><a href="/harga">Harga</a></li>
        <li><a href="/lokasi">Lokasi</a></li>
        <li><a href="/kontak">Kontak</a></li>
    </ul>
</nav>
