<section>
    <header>
        <h2>PENGUMUMAN</h2>
    </header>
    <ul class="link-list">
        <li><a href="#">Jadwal Latihan</a></li>
        <li><a href="#">Sectional</a></li>
        <li><a href="#">Open Recruiment</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Whatsapp</a></li>
    </ul>
</section>