<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!-- Page Content-->
    <div id="page-wrapper">
        <%- include('./partials/header'); %>

        <!-- Header -->
            <section id="header">
                <div id="banner">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 col-12-medium">

                                <!-- Banner Copy -->
                                    <p>Dibentuk pada tahun 2007. Walaupun terbilang masih cukup muda usianya, banyak prestasi-prestasi yang telah diraih The Great Marching Band MDP baik regional maupun nasional, antara lain juara 2 Pusri Open Marching Band 2008 [Palembang], Finalis Darunnajah Marching Band Competition 2009 [Jakarta].</p>
                                    <a href="#" class="button-large">Kunjungi kami!</a>

                            </div>
                            <div class="col-6 col-12-medium imp-medium">

                                <!-- Banner Image -->
                                    <a href="#" class="bordered-feature-image"><img src="images/foto-tg-fullteam.jpg" alt="" /></a>

                            </div>
                        </div>
                    </div>
                </div>
            </section>

        <!-- Features -->
            <section id="features">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-6-medium col-12-small">

                            <!-- Feature #1 -->
                                <section>
                                    <a href="#" class="bordered-feature-image"><img src="images/battery-tgmdp.png" alt="" /></a>
                                    <h2>Battery</h2>
                                    <p>
                                        Section Battery adalah kelompok perkusi berjalan yang terdiri dari snare drum, tenor drums (quads), dan bass drums. Mereka berperan penting dalam memberikan ketukan dan groove yang menjadi fondasi musik marching band.
                                    </p>
                                </section>

                        </div>
                        <div class="col-3 col-6-medium col-12-small">

                            <!-- Feature #2 -->
                                <section>
                                    <a href="#" class="bordered-feature-image"><img src="images/color-guard.jpeg" alt="" /></a>
                                    <h2>Color Guard</h2>
                                    <p>
                                        Section Color Guard adalah kelompok penampil yang menggunakan berbagai peralatan seperti bendera, rifle, dan properti visual lainnya untuk menambah elemen artistik dalam pertunjukan marching band. Mereka mengenakan kostum khusus yang berbeda dari anggota band lain dan melakukan koreografi yang memadukan tarian dan manipulasi peralatan.
                                    </p>
                                </section>

                        </div>
                        <div class="col-3 col-6-medium col-12-small">

                            <!-- Feature #3 -->
                                <section>
                                    <a href="#" class="bordered-feature-image"><img src="images/brass.jpg" alt="" /></a>
                                    <h2>brass</h2>
                                    <p>
                                        Section Brass atau seksi tiup logam merupakan tulang punggung melodi dalam marching band. Seksi ini terdiri dari berbagai instrumen seperti trumpet, mellophone, baritone, dan tuba yang menghasilkan suara keras dan proyektif yang cocok untuk pertunjukan outdoor. Para pemain brass harus memiliki teknik pernapasan dan embouchure yang kuat untuk menghasilkan suara yang berkualitas sambil bergerak dalam formasi.
                                    </p>
                                </section>

                        </div>
                        <div class="col-3 col-6-medium col-12-small">

                            <!-- Feature #4 -->
                                <section>
                                    <a href="#" class="bordered-feature-image"><img src="images/pit-instrument.jpg" alt="" /></a>
                                    <h2>Instrument Pit</h2>
                                    <p>
                                        Section Pit atau Front Ensemble adalah seksi yang berada di depan field dan tidak bergerak dalam formasi. Mereka memainkan instrumen seperti marimba, xylophone, vibraphone, timpani, dan berbagai alat perkusi lainnya. Pit section sering menambahkan elemen melodi yang kompleks dan efek musikal yang memperkaya komposisi. 
                                    </p>
                                </section>

                        </div>
                    </div>
                </div>
            </section>

        <!-- Content -->
            <section id="content">
                <div class="container">
                    <div class="row aln-center">
                        <div class="col-4 col-12-medium">

                            <!-- Box #1 -->
                                <section>
                                    <header>
                                        <h2>Siapa Kami</h2>
                                        <h3>The Great Marching Band UMDP</h3>
                                    </header>
                                    <a href="#" class="feature-image"><img src="images/pic05.jpg" alt="" /></a>
                                    <p>
                                        Duis neque nisi, dapibus sed mattis quis, rutrum accumsan magna sed.
                                        Suspendisse eu varius nibh. Suspendisse vitae magna eget odio amet mollis
                                        justo facilisis quis. Sed sagittis amet lorem ipsum.
                                    </p>
                                </section>

                        </div>
                        <div class="col-4 col-6-medium col-12-small">

                            <!-- Box #2 -->
                                <section>
                                    <header>
                                        <h2>Jadwal Latihan</h2>
                                        <h3>Di Aula Lantai 5 MDP</h3>
                                    </header>
                                    <ul class="check-list">
                                        <li>Hari Selasa : Jam 15:00-17.00 WIB
                                        </li>
                                        <li>Hari Kamis : Jam 15.00-17.00 WIB
                                        </li>
                                        <li>Hari Minggu : Jam 13.00-17.00 WIB
                                        </li>
                                    </ul>
                                </section>

                        </div>
                        <div class="col-4 col-6-medium col-12-small">

                            <!-- Box #3 -->
                                <section>
                                    <header>
                                        <h2>Apa Kata Orang Bilang</h2>
                                        <h3>Sebuah testimonial dari orang-orang</h3>
                                    </header>
                                    <ul class="quote-list">
                                        <li>
                                            <img src="images/pic06.jpg" alt="" />
                                            <p>"Sebuah organisasi yang menampilkan visual dan musik saja, tetapi mengajarkan kolaborasi sesama Tim"</p>
                                            <span>Manalu, Anggota 2024</span>
                                        </li>
                                        <li>
                                            <img src="images/pic07.jpg" alt="" />
                                            <p>"Keren banget! Nggak nyangka Palembang punya marching band sekelas ini. Performanya bikin merinding!"</p>
                                            <span>Ferdinan, Alumni The Great</span>
                                        </li>
                                        <li>
                                            <img src="images/pic08.jpg" alt="" />
                                            <p>"Band Mantapppu Jiwaaa!"</p>
                                            <span>Dedi, Pelatih</span>
                                        </li>
                                    </ul>
                                </section>

                        </div>
                    </div>
                </div>
            </section>

        <!-- Footer -->
        <%- include('./partials/footer'); %>

        <!-- Copyright -->
            <div id="copyright">
                &copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
            </div>

    </div>
</body>
</html>
