<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!-- Page Content-->
    <div id="page-wrapper">

        <!-- Header -->
        <%- include('./partials/header'); %>

        <!-- Content -->
            <section id="content">
                <div class="container">
                    <div class="row">
                        <div class="col-9 col-12-medium">

                            <!-- Main Content -->
                                <section>
                                    <header>
                                        <h2 class="staff-judul">Kepengurusan MB The Great 2024-2025</h2>
                                        <h3>Periode 2024/2025</h3>
                                    </header>

                                    <h2>Komandan Pasukan</h2>
                                    <ul>
                                        <li>Tri Ayu Miranda</li>
                                    </ul>

                                    <h2>Wakil Komandan Pasukan</h2>
                                    <ul>
                                        <li>Readysna Krisna Pambudi</li>
                                    </ul>

                                    <h2>Sekretaris</h2>
                                    <ul>
                                        <li>Nabila Fitriani</li>
                                    </ul>

                                    <h2>Bendahara</h2>
                                    <ul>
                                        <li>Citra Fadilah</li>
                                    </ul>

                                    <h2>Kepala Staff</h2>
                                    <ul>
                                        <li>Dedi Ferdinan Manalu</li>
                                    </ul>

                                    <h2>Staff Kepelatihan</h2>
                                    <ul>
                                        <li>Faradillah Sutari</li>
                                        <li>Mutiara Nur Thalia</li>
                                        <li>M. Rifnand Al Ghozali</li>
                                    </ul>

                                    <h2>Staff Keanggotaan</h2>
                                    <ul>
                                        <li>Daniel Lim</li>
                                        <li>M. Zahran</li>
                                        <li>Miska Dwi Ningsih</li>
                                    </ul>

                                    <h2>Staff Peralatan</h2>
                                    <ul>
                                        <li>M. Roid Lumban T.</li>
                                        <li>Yunadi Chandra</li>
                                        <li>Enggar Jati Wicaksono</li>
                                    </ul>

                                    <h2>Staff Perlengkapan</h2>
                                    <ul>
                                        <li>Nabila Syahwalrani</li>
                                        <li>Alya Mukhbita</li>
                                        <li>Ramadani Dea</li>
                                        <li>Maulidina</li>
                                        <li>Kinanti Meilani Putri</li>
                                    </ul>

                                    <h2>Staff Humas</h2>
                                    <ul>
                                        <li>Adit Jansa</li>
                                        <li>Berlian Wanna</li>
                                        <li>Anisah Aqila</li>
                                        <li>Desti Nur Rizki</li>
                                    </ul>

                                    <h2>Ketua Section</h2>
                                    <ul>
                                        <li><strong>Color Guard</strong>: Nabil Syawaludin</li>
                                        <li><strong>Percussion</strong>: Afrah Ainunnifah</li>
                                        <li><strong>Brass</strong>: Syarifah Z Alkaff</li>
                                    </ul>
                                    
                                
                                </section>

                        </div>
                        <div class="col-3 col-12-medium">

                            <!-- Sidebar -->
                             <!-- iklan -->
                              <%- include('./partials/iklan'); %>
                                
                            

                        </div>
                    </div>
                </div>
            </section>

        <!-- Footer -->
        <%- include('./partials/footer'); %>

        <!-- Copyright -->
            <div id="copyright">
                &copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a>
            </div>

    </div>
</body>
</html>
